@{
    ViewData["Title"] = "About";
}
<div class="container w-75">
    <h1 class="display-4 text-center">About Us - Cinema World</h1>
    <h4 class="text-center mb-3 lh-lg">You might be wondering <mark>WHAT IS CINEMA WORLD</mark>, what's the <mark>IDEA</mark> behind it and how it <mark>CAME TO BE</mark>.</h4>

    <div class="shadow p-3 mb-5 bg-white rounded">

        <p><mark>WHAT IS CINEMA WORLD?</mark> Well, in simple-sweet-short words it is a web based platform for people to share their thoughts about any cinematography work.</p>
        <footer class="blockquote-footer">GunarsL <cite title="Source Title">Creative Director</cite></footer>

    </div>


    <div class="shadow p-3 mb-5 bg-white rounded">

        <p><mark>IDEA OF CINEMA WORLD</mark> The spontanious idea come to mind on a casual week day, when i stumbled on an interesting clip about some movie I've never seen. It has happened a few times already, 74 times to be exact, and every time I open my notes application, write down the movie and have it there. Maybe after the 40th time a thought came to me, that perhaps other people do that, maybe even watch said movies and have some sort of opinion about it, I know I do. And so it began...</p>
        <footer class="blockquote-footer">GunarsL <cite title="Source Title">Lead Designer</cite></footer>

    </div>

    <div class="shadow p-3 mb-4 bg-white rounded">

        <p><mark>HOW IT CAME TO BE</mark> As of right now, if You are seeing this, webpage is still in development and being actively updated. Functions are very limited, not everything is fully operational and more content is to come, but this is a beginning for something beautiful, creative and fun. Once this is done, people with desire to share their reviews of cinematography will be able to do it with joy.</p>
        <footer class="blockquote-footer">GunarsL <cite title="Source Title">Executive Producer</cite></footer>

    </div>

    <div class="d-flex flex-column align-items-center">

        <img src="/logo-images/logo-whitebg.png" class="img-fluid w-25 h-25" alt="CinemaWorld Logo">

    </div>
</div>