@{
    ViewData["Title"] = "Home Page";
}
<div class="container pt-5">
    <div class="text-center">
        <h1 class="display-4">Welcome to Cinema World - film review website.</h1>
        <p class="text-muted">Share your review, rate it and begin your journey in Cinema World!</p>
    </div>
</div>

<div class="container p-5">
    <div class="row text-center mx-5">

        <div class="col">
            <a href="/Home/About" class="btn btn-outline-dark btn-lg" role="button">About Us</a>
            <p class="pt-2">Learn more about Cinema World here!</p>
        </div>

    </div>
</div>
