@{
    ViewData["Title"] = "Home Page";
}
<div class="container pt-5">
    <div class="text-center">
        <h2 class="display-5">Welcome to Cinema World - cinematography review website.</h2>
        <p class="text-muted">Share your review, rate it and begin your journey in Cinema World!</p>
    </div>   
</div>
