@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="container">
    <h1 class="display-4 text-center">Cinema World privacy policy information</h1>
    <p class="text-muted text-center">Webpage is in development mode and any data may be deleted and modified. Please, be cautious and understanding.</p>
</div>

<div class="container pt-3">
    <ul class="list-group">
        <li class="list-group-item list-group-item-info">What information do we collect?</li>
        <ul class="list-group">
            <li class="list-group-item">Required information when registering an account - Email, Username, Password.</li>
            <li class="list-group-item">Post information when creating and publishing a review and giving a rating.</li>
        </ul>
        <li class="list-group-item list-group-item-info">How do we use the information?</li>
        <ul class="list-group">
            <li class="list-group-item">User information is collected and used for optimizing the website, creating new features and removing, if necessary, any features.</li>
        </ul>
        <li class="list-group-item list-group-item-info">What information is shared?</li>
        <ul class="list-group">
            <li class="list-group-item">Nothing is being shared outside of Cinema World. Every users data is secured, proctected.</li>
        </ul>
    </ul>
</div>