@model string;

@if(User.Identity.IsAuthenticated && User.IsInRole("Admin"))
{
    <div class="text-white pe-5 pb-5 fixed-bottom">
        <a asp-controller="@Model" asp-action="Create" class="btn btn-success float-end">
            <i class="bi bi-plus-circle"></i> Add New
        </a>
    </div>
}