@*Define ViewData*@

@{
    ViewData["Title"] = "Error";
}

@*Write code*@
<div class="row text-center">
    <h1>Something went wrong...</h1>
    <hr />
    <h2>Please, try again or return home</h2>
    <a class="link-info fs-5" asp-controller="Home" asp-action="Index">Return home</a>
</div>