<div class="row">
    <div class="col-md-6 offset-3 alert alert-success text-center">
        <h2>Registration succesful!</h2>
        <p>You can now Log In to Cinema World!</p>
        <hr />
        <p>Thank you! <i class="bi bi-emoji-smile"></i></p>
    </div>
</div>